<html ng-app="app">

<head>

    <title>Marian en Raf Huwelijksreis</title>

    <link rel="stylesheet" href="resources/css/bootstrap.min.css"/>

    <script src="resources/js/angular/angular.min.js"></script>

    <script src="resources/js/ui-bootstrap-tpls-0.10.0.js"></script>

    <script>
        var controller = angular.module('app', ['ui.bootstrap', 'customControl']).controller('controller', function ($scope, $http, $window) {
            $scope.submitButtonDisabled = false;
            $scope.kilometers = 0;
            $scope.amount = 0;

            $scope.$watch('kilometers', function (newValue, oldValue) {
                $scope.amount = 3 * newValue;
            });

            $scope.$watch('amount', function (newValue, oldValue) {
                $scope.kilometers = newValue / 3;
            });

            $http.get('total').then(function (response) {
                $scope.currentPercentage = response.data / 90;
            });

            $scope.getAdditionalPercentage = function () {
                return Math.min($scope.kilometers / 30, 100 - $scope.currentPercentage);
            }
            $scope.getTotalPercentageRounded = function () {
                return Math.floor(Math.abs(($scope.currentPercentage + $scope.getAdditionalPercentage() ))) * 2;
            }

            $scope.submitPayment = function (form) {
                var payment = {
                    name: $scope.name,
                    email: $scope.email,
                    amount: $scope.amount

                };
                if (form.$valid) {
                    $scope.submitButtonDisabled = true;
                    $http.put('payment', payment).then(function (response) {
                        $scope.paymentDone = true;
                    });
                }
            };

        });

        angular.module('customControl', []).
                directive('roundedNumber', function () {
                    return {
                        restrict: 'A', // only activate on element attribute
                        require: '?ngModel', // get a hold of NgModelController
                        link: function (scope, element, attrs, ngModel) {

                            function fromUser(text) {
                                return (text || 0);
                            }

                            function toUser(text) {
                                return Math.ceil(text * 100) / 100
                            }

                            ngModel.$parsers.push(fromUser);
                            ngModel.$formatters.push(toUser);

                        }
                    };
                });


    </script>

    <style>
        .progress-bar-success {
            background: url('resources/img/zebra.png');
        }

        .progress-bar-danger {
            background-color: #b48232;
        }

        .image-div {
            height: 100%;
            margin-left: -1px;
            padding-top: 15px;
        }

        label {
            text-shadow: 0 0 1px black;
        }

    </style>

</head>

<body style="background: url('resources/img/springbok-lowres.png'); background-size: cover; background-repeat: no-repeat; color: whitesmoke; "
      ng-controller="controller">

<div style="background: rgba(0,0,0,0.1); width: 960px; margin-left: auto; margin-right: auto; margin-top: 20px; padding: 15px;"
     id="container">
    <h1 style="text-shadow: 0 0 1px black;">Stuur Marian en Raf naar Zuid-Afrika</h1>

    <div class="row">
        <div class="col-xs-12" style="font-weight: bold; text-shadow: 0 0 1px black;" ng-if="!paymentDone">
            <p>Aangezien onze nood voor nieuwe potten en pannen vrij laag is en die aan romantische reizen hoog, is ons geschenk bij voorkeur
                een duwtje in de rug richting Zuid-Afrika. In de linker kolom kunnen jullie ofwel een aantal kilometer ofwel
                het bedrag dat jullie willen sponsoren aanduiden. Hierna zullen jullie op de kaart onze reis kunnen zien vorderen
                en jullie bijdrage bevestigen. Vergeet zeker niet je email en je naam in te vullen!</p>



            <p>Since we don't need any new household items, but do have a need for a romantic honeymoon, we would prefer
                a contribution that helps us on our way to South-Africa.  In the leftmost column you can indicate either the number of kilometers
                or the amount of money you would like to donate. Subsequently you will be able to see our honeymoon advancing and will be able to
                confirm your donation. Please don't forget to fill out the Name and Email Address fields!</p>


        </div>
        <div class="col-xs-12" style="font-weight: bold; text-shadow: 0 0 1px black;" ng-if="paymentDone">
            <p>
                Hartelijk bedankt voor jullie bijdrage aan onze droomreis!
                Er is een email met betalingsinformatie verstuurd naar het door jullie vermeldde adres.
            </p>
            <p>
                Thank you very much for your contribution to the honeymoon of our dreams.
                An email with details for the payment has been forwarded to the email address you have entered.
            </p>


        </div>

    </div>

    <div class="row">
        <div class="col-xs-12" style="margin-top: 10px;">
            <label>Afstand afgelegd:</label>

            <!-- <progressbar type="success" value="55" value-plus="10"></progressbar> -->
            <progress>
                <bar value="currentPercentage" type="success"></bar>
                <bar value="getAdditionalPercentage()" type="danger"></bar>
            </progress>

            <!-- 3000km -->

            <!-- 			<div class="progress">
                            <div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="12" aria-valuemin="0" aria-valuemax="100" style="width: 12%">

                            </div>
                            <div class="progress-bar progress-bar-danger" role="progressbar" aria-valuenow="1" aria-valuemin="0" aria-valuemax="100" style="width: 1%;">
                            </div>
                        </div> -->
        </div>
    </div>
    <div class="row">


        <div id="sidebar" class="col-xs-3" style="padding-top: 15px;">
            <form name="form" ng-show="!paymentDone">
                <div class="form-group">
                    <label for="naamInput">Naam / Namen</label>
                    <input type="text" class="form-control" id="naamInput" ng-required="true" ng-model="name"
                           placeholder="Naam / Namen"/>
                </div>

                <div class="form-group">
                    <label for="exampleInputEmail1">Email</label>
                    <input type="email" class="form-control" id="exampleInputEmail1" ng-required="true" ng-model="email"
                           placeholder="Email"/>
                </div>

                <div class="form-group">
                    <label for="kilometersInput">Kilometers</label>
                    <input rounded-number="" type="number" ng-model="kilometers" step="any" class="form-control"
                           id="kilometersInput" placeholder="Kilometers"/>
                </div>

                <div class="form-group">
                    <label for="bedragInput">Bedrag</label>
                    <input rounded-number="" type="number" step="any" class="form-control" id="bedragInput"
                           ng-model="amount" placeholder="Bedrag"/>
                </div>

                <button type="submit" class="btn btn-default" ng-click="submitPayment(form)" ng-disabled="{{submitButtonDisabled}}">Bevestig</button>
            </form>


        </div>

        <div class="col-xs-9 image-div">

            <img class="img-rounded" style="box-shadow: 0px 0px 10px 4px rgba(119, 119, 119, 0.4);
-moz-box-shadow: 0px 0px 10px 4px rgba(119, 119, 119, 0.4);
-webkit-box-shadow: 0px 0px 10px 4px rgba(119, 119, 119, 0.4);" src="resources/img/kaartje-base.png"/>

            <img ng-if="getTotalPercentageRounded() >= 0"
                 ng-src="resources/img/kaartje-{{getTotalPercentageRounded()}}.png"
                 style="position: absolute; top: 15px; left: 15px;"/>
        </div>

    </div>
</div>

</body>

</html>
