Beste ${names}
Dear ${names}

Nogmaals hartelijk bedankt voor jullie bijdrage. Het bedrag (${amount}EUR) kan worden overgemaakt op volgend rekeningnummer:

Thank you again for your contribution to our honeymoon. Your donation can be transferred to the following account:

Roelands - Crabbé
BE84 7805 9104 5059

Groetjes - Cheers
Raf en Marian

